.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0f172a;
}

.card {
  background: white;
  width: 500px;
  padding: 40px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,.25);
}

.card h1{
  color:#2563eb;
}

.card h2{
  color:#444;
  margin-top:10px;
}

.card p{
  margin:30px 0;
  color:#666;
}

button{
  background:#2563eb;
  color:white;
  border:none;
  padding:14px 35px;
  border-radius:8px;
  font-size:16px;
  cursor:pointer;
}

button:hover{
  background:#1d4ed8;
}